{% extends "main_layout.html" %}

{% block title %} Home {% endblock %}
<!-------------------------------------------------------------------------------->


{% block content %}

<h1>Home</h1>

<a href="{{url_for('addProject')}}">
        <span>Add Project</span>
    </a>

<a href="{{url_for('NewProject')}}">
    <span>New Project</span>
</a>

<section>
    <h2>Recent Projects</h2>
    {% if recent_projects %}
        <ul>
            {% for project in recent_projects %}
                <li>{{project.name}}</li>
            {% endfor %}
        </ul>
    {% endif %}
</section>

{% endblock %}
