{% extends "main_layout.html" %}

{% block title %} New Project {% endblock %}
<!-------------------------------------------------------------------------------->

{% block content %}

<section>
    <h1>New Project</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>Project Name</td>
                <td>{{ form.project_name(size=50) }}</td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">submit</button></td>
            </tr>
        </table>
    </form>
</section>

{% endblock %}